@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100svh;
  overflow-y: hidden;
  display: flex;
  align-items: center;
  font-family: Nunito, sans-serif;
}

/* Video Background */
.video-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100svw;
  height: 100svh;
  object-fit: cover;
}

.video-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100svw;
  height: 100svh;
  background-color: rgba(255, 255, 255, 0.35);
}

/* Container */
.container {
  min-width: 580px;
  min-height: 300px;
  color: black;
  margin: 0 auto;
  padding: 25px 50px;
  border-radius: 6px;
  z-index: 2;
  display: flex;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.85);
}

.input-container {
  position: relative;
  top: 20px;
}

h1 {
  font-size: 35px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 10px;
}

/* Form */
.form {
  width: 480px;
}

label {
  font-weight: bold;
  margin-left: 10px;
}

input {
  width: 95%;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background: #fff;
  outline: none;
  font-family: Nunito, sans-serif;
}

/* Button */
button {
  width: 100%;
  height: 40px;
  border-radius: 20px;
  margin-top: 15px;
  border: none;
  text-transform: uppercase;
  background: #006959;
  color: white;
  cursor: pointer;
  outline: none;
}

button:hover {
  filter: brightness(115%);
}

/* Countdown */
ul {
  margin-left: -45px;
}

li {
  display: inline-block;
  font-size: 30px;
  list-style-type: none;
  padding: 10px;
  text-transform: uppercase;
}

li span {
  display: block;
  font-size: 80px;
  text-align: center;
}

/* Complete */
.complete {
  position: relative;
  top: 60px;
}

.complete-title {
  animation: complete 4s infinite;
}

@keyframes complete {
  0%,
  100% {
    color: #ff0000;
  }

  20% {
    color: #fff700;
  }

  40% {
    color: #00ff1e;
  }

  50% {
    transform: scale(1.25) translateY(-10px);
  }

  60% {
    color: #2767fc;
  }

  80% {
    color: #ff00fb;
  }
}

/* Media Query: Large Smartphone (Vertical) */
@media screen and (max-width: 600px) {
  video {
    object-position: 70%;
  }

  .container {
    min-width: unset;
    width: 95svw;
    min-height: 245px;
    padding: 20px;
    margin: 10px;
  }

  .input-container {
    top: unset;
  }

  .countdown {
    position: relative;
    top: 10px;
  }

  .form {
    width: unset;
  }

  input {
    width: 93%;
  }

  h1 {
    font-size: 20px;
  }

  li {
    font-size: 15px;
  }

  li span {
    font-size: 40px;
  }
}
